.content{
	width: 1000px;
	height: 100%;
	margin: auto;
}
.logo{
	/*margin-left: 50px;*/
	width: 100%;
	height: 100px;
}
.menu{
	width: 1000px;
	height: 50px;
	background-color: #3BB9FF;
}
.menu ul li{
	float:left;
	list-style: none;
	padding: 15px;
	font-size: 18px;
	cursor: pointer;
}
.menu ul li:hover{
	background-color: white;
	color: black;
}

ul{
	margin:0;
}
input{
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
}
a{
	text-decoration: none;
}
.search_btn{
	margin: 10px;
	padding: 5px;
}
.banner{
	width: 1000px;
	height: 200px;
	
}
.main{
	width: 1000px;
	height: 800px;
	background-color:#f3f7e7;
	display: grid;
	grid-template-columns: 60% 40%;
}
.footer{
	margin-top: 50px;
	width: 1000px;
	height: 120px;
	padding: 20px;
	background-color: #3BB9FF;
}
.footer p{
	font-size: 12px;
	line-height: 10px;
}
.social_btn{
	height: 30px;
	width: 30px;
	padding: 0px;
	font-size: 30px;
	border: 0px;
	background-color: #3BB9FF;
}
.infotour{
	display: flex;
	border-bottom: 1px solid #bfb1b1;
	padding-bottom: 10px;
	padding-top: 10px;
}

.info{
	padding-left: 5px;
	width: 420px;
}

.titlee{
	font-weight: bold;
}

.contentt{
	text-align: justify;
}

.titlee a{
	text-decoration: none;
	color: black;
}
.image2{
	height:300px;
	margin-left: 12px;
	margin-top: 20px;
	background-image: url(halong.jpg);
	background-size: cover;
	position: relative;
}
.title3{
	position: absolute;
	bottom: 0;
	color: white;
	font-family: arial;
	margin-left: 15px;
	margin-bottom: 0px;
	font-style: italic;
}
.title3 a{
	text-decoration: none;
	color: white;
}
.f-title{
	display: flex;
	flex-direction: row;
}
.f-title h3{
	padding-left: 5px;
}
.fff-title{
	margin-left: 5px;
}
.boder-line1{
	border-top:  1px solid #040404;
	width: 300px;
	margin-top: 29px;
	margin-left:10px;
}
.boder-line2{
	border-top:  1px solid #040404;
	width: 170px;
	margin-top: 29px;
	margin-left:10px;
}
.sidenav_btn{
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3BB9FF;
    position: sticky;
    top: 0;
    font-size: 25px;
    height: 50px;
    width: 50px;
    border: 0px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: gray;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
}

.sidenav a {
    padding: 5px 5px 5px 10px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}